<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<!-- APPENDERS LIST -->
	<!-- show log entries on console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}.%M():%L - %m%n" />
		</layout>
	</appender> 

	<appender name="LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="junit.log" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="append" value="false" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>
   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->

	<logger name="com.apache">
		<level value="WARN"/>
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework">
		<level value="WARN"/>
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN"/>
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="com.nec">
		<level value="INFO"/>
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="com.nec.asia.nic.utils.HostnameAwareList">
		<level value="FATAL"/>
	</logger>

	<root>
		<level value="TRACE" />
		<appender-ref ref="LOG" />
	</root>
<!--

   Log4J Configuration Quick Reference:
   ====================================
   level order is DEBUG < INFO < WARN < ERROR < FATAL

   PatternLayout conversion characters:

    %c   logger of the logging event
    %C   Fully qualified class name of the caller
    %d   Date of the logging event  (example: %d{HH:mm:ss,SSS} )
    %F   File name where the logging request was issued (caution: extremely slow)
    %l   Location information of the caller (caution: extremely slow)
    %L   Line number from where the logging request was issued (caution: extremely slow)
    %m   Application-supplied message
    %M   Method name from where the logging request was issued (caution: extremely slow)
    %n   Line separator
    %p   level of the logging event
    %r   Number of milliseconds since the start of the application
    %t   Name of the thread that generated the logging event
    %x   Nested diagnotic context associated with the thread
    %%   A single percent sign

   Format modifiers examples:

    %20c     Left pad with spaces if logger is less than 20 characters long
    %-20c    Right pad with spaces if logger is less than 20 characters long
    %.30c    Truncate from the beginning if logger is more than 30 chars long
    %20.30c  Left pad 20 chars + truncate from beginning if more than 30 chars
    %-20.30c Right pad 20 chars + truncate from beginning if more than 30 chars

   Examples:  "%r [%t] %-5p %c %x - %m\n"
              "%-6r [%15.15t] %-5p %30.30c %x - %m\n"

-->
</log4j:configuration>