<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-4.2.xsd"
>
 
    <!-- autoproxy for all -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <import resource="spring-hibernate.xml" />
    <import resource="classpath:/com/nec/asia/nic/resources/spring/services/spring-services.xml" />
 
    <!-- scan for components -->
    <context:component-scan base-package="com.nec.asia.nic.*">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
    </context:component-scan>
 
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" lazy-init="false">
        <property name="user" value="${jdbc.loginuser}" />
        <property name="password" value="${jdbc.password}" />
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
        <property name="jdbcUrl" value="${nic.db.url}" />
        <property name="initialPoolSize" value="10" />
        <property name="maxPoolSize" value="100" />
        <property name="minPoolSize" value="10" />
        <property name="acquireIncrement" value="5" />
        <property name="acquireRetryAttempts" value="5" />
    </bean>
     
<!--     <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="${nic.db.url}" />
        <property name="username" value="${jdbc.loginuser}" />
        <property name="password" value="${jdbc.password}" />
    </bean> -->
 
    <!-- ==============================Transaction============================== -->
    <tx:annotation-driven />
    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hbSessionFactory" />
    </bean>
     
    <tx:annotation-driven transaction-manager="transactionManager" />
 
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="merge*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="put*" propagation="REQUIRED" />
            <tx:method name="get*" propagation="SUPPORTS" />
            <tx:method name="count*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="find*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="list*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="*" propagation="SUPPORTS" />
        </tx:attributes>
    </tx:advice>
    <!-- Verification job wiring -->
 
    <bean id="applicationContextProvider" class="com.nec.asia.nic.comp.job.utils.ApplicationContextProvider" />
 
    <bean id="baseExecutor" class="com.nec.asia.nic.comp.job.command.NicCommandExecutor" scope="prototype">
        <property name="command" ref="initCmd" />
    </bean>
 
    <bean id="initCmd" class="com.nec.asia.nic.comp.job.command.NicInitialCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="afisEnrollCmd" />
                <entry key="REP" value-ref="afisEnrollCmd" />
                <entry key="LOST" value-ref="afisEnrollCmd" />
            </map>
        </property>
    </bean>
 
    <bean id="afisEnrollCmd" class="com.nec.asia.nic.comp.job.command.NicAfisEnrollmentCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="idserverAgentService" ref="idserverAgentService" />
        <property name="nicAfisDataService" ref="nicAfisDataService" />
        <property name="documentDataService" ref="documentDataService" />
        <property name="transactionAttachmentService" ref="nicTransactionDocumentService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="cpdCmd" />
                <entry key="REP" value-ref="cpdCmd" />
                <entry key="LOST" value-ref="cpdCmd" />
            </map>
        </property>
    </bean>
 
    <bean id="afisScreeningCmd" class="com.nec.asia.nic.comp.job.command.NicAfisScreenAsyncCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="inquirySearchResultService" ref="inquirySearchResultService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="idserverAgentService" ref="idserverAgentService" />
        <property name="nicAfisDataService" ref="nicAfisDataService" />
        <property name="transactionAttachmentService" ref="nicTransactionDocumentService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="initInvestigationCmd" />
                <entry key="REP" value-ref="initInvestigationCmd" />
                <entry key="LOST" value-ref="initInvestigationCmd" />
            </map>
        </property>
    </bean>
 
    <bean id="afisVerifyCmd" class="com.nec.asia.nic.comp.job.command.NicVerifyAfisCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="inquirySearchResultService" ref="inquirySearchResultService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="idserverAgentService" ref="idserverAgentService" />
        <property name="documentDataService" ref="documentDataService" />
        <property name="nicAfisDataService" ref="nicAfisDataService" />
        <property name="transactionAttachmentService" ref="nicTransactionDocumentService" />
        <property name="parametersService" ref="parametersService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="afisScreeningCmd" />
                <entry key="REP" value-ref="afisScreeningCmd" />
                <entry key="LOST" value-ref="afisScreeningCmd" />
            </map>
        </property>
    </bean>
 
 
    <bean id="cpdCmd" class="com.nec.asia.nic.comp.job.command.NicVerifyCpdCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="nicRegistrationDataService" ref="nicRegistrationDataService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="inquirySearchResultService" ref="inquirySearchResultService" />
        <property name="nicAfisDataService" ref="nicAfisDataService" />
        <property name="documentDataService" ref="documentDataService" />
        <property name="parametersService" ref="parametersService" />
        <property name="workflowProcessService" ref="workflowProcessService" />
		<property name="persoLocationsService" ref="persoLocationsService" />
		<property name="codesService" ref="codesService" />
		<property name="bufPersonInvestigationService" ref="bufPersonInvestigationService" />
		<property name="eppPersonService" ref="eppPersonService" />
		<property name="transactionAttachmentService" ref="nicTransactionDocumentService" />
		<property name="queueJobService" ref="queueJobService" />
		<property name="siteService" ref="siteService" />
		<property name="configurationWorkflowService" ref="configurationWorkflowService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="blacklistCmd" />
                <entry key="REP" value-ref="blacklistCmd" />
                <entry key="LOST" value-ref="blacklistCmd" />
            </map>
        </property>
        <property name="demographicFields">
            <map>
            	<entry key="searchName" value="true" />
                <!-- <entry key="firstnameFull" value="true" />
                <entry key="middlenameFull" value="true" />
                <entry key="surnameFull" value="true" /> -->
                <entry key="dateOfBirth" value="true" />
                <entry key="gender" value="true" />
            </map>
        </property>
 
    </bean>
    
    <bean id="blacklistCmd" class="com.nec.asia.nic.comp.job.command.NicVerifyBlacklistCommand" scope="prototype">
		<property name="commandUtil" ref="commandUtil" />
		<property name="uploadJobService" ref="uploadJobService" />
		<property name="nicTransactionService" ref="nicTransactionService" />
		<property name="nicTransactionLogService" ref="nicTransactionLogService" />
		<property name="inquirySearchResultService" ref="inquirySearchResultService" />
		<property name="nicAfisDataService" ref="nicAfisDataService" />
		<property name="nicBlacklistService" ref="nicBlacklistService" />
		<property name="childs">
			<map>
				<entry key="09" value-ref="errorCmd" />
				<entry key="REG" value-ref="identificationCmd" />
				<entry key="REP" value-ref="identificationCmd" />
				<entry key="LOST" value-ref="identificationCmd" />
				<!--<entry key="REG" value-ref="initInvestigationCmd" />
				<entry key="REP" value-ref="initInvestigationCmd" />
				<entry key="LOST" value-ref="initInvestigationCmd" /> -->
			</map>
		</property>
	</bean>
	
	<bean id="identificationCmd" class="com.nec.asia.nic.comp.job.command.NicVerifyIdentificationCommand" scope="prototype">
		<property name="commandUtil" ref="commandUtil" />
		<property name="uploadJobService" ref="uploadJobService" />
		<property name="nicTransactionService" ref="nicTransactionService" />
		<property name="nicTransactionLogService" ref="nicTransactionLogService" />
		<property name="inquirySearchResultService" ref="inquirySearchResultService" />
		<property name="nicAfisDataService" ref="nicAfisDataService" />
		<property name="nicIdentificationService" ref="nicIdentificationService" />
		<property name="childs">
			<map>
				<entry key="09" value-ref="errorCmd" />
				<entry key="REG" value-ref="afisScreeningCmd" />
				<entry key="REP" value-ref="afisVerifyCmd" />
				<entry key="LOST" value-ref="afisVerifyCmd" />
				<!--<entry key="REG" value-ref="initInvestigationCmd" />
				<entry key="REP" value-ref="initInvestigationCmd" />
				<entry key="LOST" value-ref="initInvestigationCmd" /> -->
			</map>
		</property>
	</bean>
 
    <bean id="initInvestigationCmd" class="com.nec.asia.nic.comp.job.command.NicInitInvestigationCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="preparePersoCmd" />
                <entry key="REP" value-ref="preparePersoCmd" />
                <entry key="LOST" value-ref="preparePersoCmd" />
            </map>
        </property>
    </bean>
 
    <bean id="preparePersoCmd" class="com.nec.asia.nic.comp.job.command.NicPreparePersoCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="dataPackService" ref="dataPackService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
 
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <!-- <entry key="REG" value-ref="submitPersoCmd" />
                <entry key="REP" value-ref="submitPersoCmd" />
                <entry key="LOST" value-ref="submitPersoCmd" /> -->
            </map>
        </property>
    </bean>
     
    <bean id="submitPersoCmd" class="com.nec.asia.nic.comp.job.command.NicSubmitPersoCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="nicTransactionLogService" ref="nicTransactionLogService" />
        <!--<property name="dataPackService" ref="dataPackService" /> -->
        <property name="persoService" ref="persoService" />
        <property name="persoService2" ref="persoServiceMBID60" />
 
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
                <entry key="REG" value-ref="successCmd" />
                <entry key="REP" value-ref="successCmd" />
                <entry key="LOST" value-ref="successCmd" />
            </map>
        </property>
    </bean>
 
 
    <bean id="errorCmd" class="com.nec.asia.nic.comp.job.command.NicVerifyErrorCommand" scope="prototype">
    </bean>
 
    <bean id="successCmd" class="com.nec.asia.nic.comp.job.command.NicVerifySuccessCommand" scope="prototype">
        <property name="commandUtil" ref="commandUtil" />
        <property name="uploadJobService" ref="uploadJobService" />
        <property name="nicTransactionService" ref="nicTransactionService" />
        <property name="nicRegistrationDataService" ref="nicRegistrationDataService" />
 
        <property name="childs">
            <map>
                <entry key="09" value-ref="errorCmd" />
            </map>
        </property>
    </bean>
 
</beans>