<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
		<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-5" aria-selected="true">
			<a id="ui-id-5" class="ui-tabs-anchor" href="#tabs-1" role="presentation" tabindex="-1">Đầu tiên</a>
		</li>
		<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-6" aria-selected="false">
			<a id="ui-id-5" class="ui-tabs-anchor" href="#tabs-1" role="presentation" tabindex="-1">Đầu tiên</a>
		</li>
		<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-7" aria-selected="false">
			<a id="ui-id-5" class="ui-tabs-anchor" href="#tabs-1" role="presentation" tabindex="-1">Đầu tiên</a>
		</li>
	</ul>

	<div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-5" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
</div>